.register {
    padding: 100px 0;
    margin: 0 10px;
}

@media all and (min-width: 480px) {
    .register {
        padding: 100px 0;
        margin: 0 10px;
    }

    .register form {
        margin: 0 auto;
        max-width: 320px;
    }
}
